{
  "openapi": "3.1.0",
  "info": {
    "title": "Tivmark API",
    "version": "1.0.0",
    "description": "The API-first contract used by Tivmark and approved headless clients.",
    "license": { "name": "Proprietary", "url": "https://tivmark.com/terms" }
  },
  "servers": [
    { "url": "https://app.tivmark.com", "description": "Production" }
  ],
  "tags": [
    { "name": "Profile", "description": "Current-user profile and sessions." },
    {
      "name": "Onboarding",
      "description": "Conversational business setup and activation."
    },
    {
      "name": "New Hire Launch",
      "description": "Atomic manager-led onboarding readiness workflows."
    },
    { "name": "Teams", "description": "Team lifecycle and settings." },
    { "name": "Members", "description": "Team membership and roles." },
    {
      "name": "Invitations",
      "description": "Team invitations and acceptance."
    },
    {
      "name": "Time Off",
      "description": "Time-off requests, balances, and policies."
    },
    {
      "name": "Action Desk",
      "description": "Configurable services and end-user request operations."
    },
    {
      "name": "Credentials",
      "description": "Scoped service credentials and OAuth clients."
    },
    { "name": "SSO", "description": "Single sign-on configuration." },
    {
      "name": "Directory Sync",
      "description": "Directory synchronization configuration."
    },
    { "name": "Webhooks", "description": "Outbound webhook configuration." },
    { "name": "Billing", "description": "Plans and billing workflows." },
    {
      "name": "Audit Logs",
      "description": "Auditable activity and viewer access."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth access token or Tivmark service key"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "/oauth/authorize",
            "tokenUrl": "/oauth/token",
            "refreshUrl": "/oauth/token",
            "scopes": {
              "profile": "Read and update the current profile",
              "teams": "Read and update teams",
              "members": "Read and manage team members",
              "invitations": "Read and manage invitations",
              "equipment": "Read and manage equipment requests",
              "time_off": "Read and manage time-off requests",
              "time_off.approve": "Approve or decline time-off requests",
              "time_off.policy": "Manage time-off allowances",
              "equipment.approve": "Approve or decline equipment requests",
              "service_requests": "Read and create Action Desk requests",
              "service_requests.manage": "Manage the Action Desk queue and catalog",
              "credentials": "Manage service credentials and OAuth clients",
              "sso": "Manage single sign-on",
              "directory_sync": "Manage directory synchronization",
              "webhooks": "Manage outbound webhooks",
              "audit_logs": "Read audit logs",
              "billing": "Read and manage billing"
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "image": { "type": ["string", "null"] }
        },
        "required": ["id", "name", "email", "image"]
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "code": { "type": "string" },
          "title": { "type": "string" },
          "status": { "type": "integer" },
          "detail": { "type": "string" },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        },
        "required": ["type", "code", "title", "status", "detail"]
      },
      "OnboardingReceipt": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["READY"] },
          "team": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "name": { "type": "string" },
              "slug": { "type": "string" },
              "teamSize": {
                "type": ["string", "null"],
                "enum": ["1-10", "11-50", "51-200", "201+"]
              },
              "timeZone": { "type": ["string", "null"] },
              "primaryGoal": {
                "type": ["string", "null"],
                "enum": ["TIME_OFF", "EQUIPMENT", "BOTH"]
              },
              "primaryGoalLabel": { "type": "string" },
              "onboardingCompletedAt": {
                "type": "string",
                "format": "date-time"
              }
            },
            "required": [
              "id",
              "name",
              "slug",
              "teamSize",
              "timeZone",
              "primaryGoal",
              "primaryGoalLabel",
              "onboardingCompletedAt"
            ]
          },
          "policies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
                },
                "allowanceHalfDays": { "type": ["integer", "null"] },
                "allowanceDays": { "type": ["number", "null"] }
              },
              "required": ["type", "allowanceHalfDays", "allowanceDays"]
            }
          },
          "nextSteps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "label": { "type": "string" },
                "url": { "type": "string", "format": "uri" }
              },
              "required": ["id", "label", "url"]
            }
          },
          "authenticated": { "type": "boolean", "enum": [true] }
        },
        "required": ["status", "team", "policies", "nextSteps", "authenticated"]
      },
      "OnboardingBlueprint": {
        "type": "object",
        "properties": {
          "businessName": {
            "type": "string",
            "minLength": 3,
            "maxLength": 100
          },
          "teamSize": {
            "type": "string",
            "enum": ["1-10", "11-50", "51-200", "201+"]
          },
          "timeZone": { "type": "string", "minLength": 1, "maxLength": 100 },
          "primaryGoal": {
            "type": "string",
            "enum": ["TIME_OFF", "EQUIPMENT", "BOTH"]
          },
          "vacationAllowanceDays": {
            "type": "integer",
            "minimum": 0,
            "maximum": 365
          },
          "sickAllowanceDays": {
            "type": "integer",
            "minimum": 0,
            "maximum": 365
          },
          "personalAllowanceDays": {
            "type": "integer",
            "minimum": 0,
            "maximum": 365
          }
        },
        "required": [
          "businessName",
          "teamSize",
          "timeZone",
          "primaryGoal",
          "vacationAllowanceDays",
          "sickAllowanceDays",
          "personalAllowanceDays"
        ]
      },
      "NewHirePlan": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["PLANNED"] },
          "team": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "name": { "type": "string" },
              "slug": { "type": "string" }
            },
            "required": ["id", "name", "slug"]
          },
          "newHire": {
            "type": "object",
            "properties": {
              "jobTitle": {
                "type": "string",
                "minLength": 2,
                "maxLength": 120
              },
              "startDate": { "type": "string", "format": "date" },
              "workLocation": {
                "type": "string",
                "minLength": 2,
                "maxLength": 120
              },
              "timeZone": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "role": { "type": "string", "enum": ["ADMIN", "MEMBER"] },
              "name": { "type": "string" },
              "email": { "type": "string", "format": "email" }
            },
            "required": [
              "jobTitle",
              "startDate",
              "workLocation",
              "timeZone",
              "role",
              "name",
              "email"
            ]
          },
          "equipment": {
            "type": "object",
            "properties": {
              "package": {
                "type": "string",
                "enum": ["STANDARD", "DESIGN", "ENGINEERING", "NONE"]
              },
              "label": { "type": "string" },
              "item": { "type": ["string", "null"] }
            },
            "required": ["package", "label", "item"]
          },
          "policies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
                },
                "allowanceHalfDays": { "type": ["integer", "null"] },
                "allowanceDays": { "type": ["number", "null"] },
                "assignment": { "type": "string", "enum": ["ON_ACCEPTANCE"] }
              },
              "required": [
                "type",
                "allowanceHalfDays",
                "allowanceDays",
                "assignment"
              ]
            }
          },
          "checklist": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "label": { "type": "string" },
                "status": { "type": "string", "enum": ["WILL_CREATE"] }
              },
              "required": ["id", "label", "status"]
            }
          },
          "authenticated": { "type": "boolean", "enum": [true] }
        },
        "required": [
          "status",
          "team",
          "newHire",
          "equipment",
          "policies",
          "checklist",
          "authenticated"
        ]
      },
      "NewHireLaunchInput": {
        "type": "object",
        "properties": {
          "employeeName": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120
          },
          "employeeEmail": {
            "type": "string",
            "maxLength": 320,
            "format": "email"
          },
          "jobTitle": { "type": "string", "minLength": 2, "maxLength": 120 },
          "startDate": { "type": "string", "format": "date" },
          "workLocation": {
            "type": "string",
            "minLength": 2,
            "maxLength": 120
          },
          "timeZone": { "type": "string", "minLength": 1, "maxLength": 100 },
          "role": { "type": "string", "enum": ["ADMIN", "MEMBER"] },
          "equipmentPackage": {
            "type": "string",
            "enum": ["STANDARD", "DESIGN", "ENGINEERING", "NONE"]
          }
        },
        "required": [
          "employeeName",
          "employeeEmail",
          "jobTitle",
          "startDate",
          "workLocation",
          "timeZone",
          "role",
          "equipmentPackage"
        ]
      },
      "NewHireReceipt": {
        "type": "object",
        "properties": {
          "status": { "type": "string", "enum": ["READY", "ACTIVE"] },
          "launchId": { "type": "string", "format": "uuid" },
          "team": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "name": { "type": "string" },
              "slug": { "type": "string" }
            },
            "required": ["id", "name", "slug"]
          },
          "newHire": {
            "type": "object",
            "properties": {
              "jobTitle": {
                "type": "string",
                "minLength": 2,
                "maxLength": 120
              },
              "startDate": { "type": "string", "format": "date" },
              "workLocation": {
                "type": "string",
                "minLength": 2,
                "maxLength": 120
              },
              "timeZone": {
                "type": "string",
                "minLength": 1,
                "maxLength": 100
              },
              "role": { "type": "string", "enum": ["ADMIN", "MEMBER"] },
              "name": { "type": "string" },
              "email": { "type": "string", "format": "email" }
            },
            "required": [
              "jobTitle",
              "startDate",
              "workLocation",
              "timeZone",
              "role",
              "name",
              "email"
            ]
          },
          "invitation": {
            "type": "object",
            "properties": {
              "id": { "type": ["string", "null"], "format": "uuid" },
              "status": { "type": "string", "enum": ["PENDING", "ACCEPTED"] },
              "expiresAt": { "type": ["string", "null"], "format": "date-time" }
            },
            "required": ["id", "status", "expiresAt"]
          },
          "equipment": {
            "type": "object",
            "properties": {
              "package": {
                "type": "string",
                "enum": ["STANDARD", "DESIGN", "ENGINEERING", "NONE"]
              },
              "label": { "type": "string" },
              "requestId": { "type": ["string", "null"], "format": "uuid" },
              "item": { "type": ["string", "null"] },
              "status": { "type": ["string", "null"] }
            },
            "required": ["package", "label", "requestId", "item", "status"]
          },
          "policies": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "type": {
                  "type": "string",
                  "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
                },
                "allowanceHalfDays": { "type": ["integer", "null"] },
                "allowanceDays": { "type": ["number", "null"] },
                "assignment": { "type": "string", "enum": ["ON_ACCEPTANCE"] }
              },
              "required": [
                "type",
                "allowanceHalfDays",
                "allowanceDays",
                "assignment"
              ]
            }
          },
          "checklist": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "label": { "type": "string" },
                "status": { "type": "string", "enum": ["COMPLETE"] }
              },
              "required": ["id", "label", "status"]
            }
          },
          "nextSteps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "label": { "type": "string" },
                "url": { "type": "string", "format": "uri" }
              },
              "required": ["id", "label", "url"]
            }
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "activatedAt": { "type": ["string", "null"], "format": "date-time" },
          "authenticated": { "type": "boolean", "enum": [true] }
        },
        "required": [
          "status",
          "launchId",
          "team",
          "newHire",
          "invitation",
          "equipment",
          "policies",
          "checklist",
          "nextSteps",
          "createdAt",
          "activatedAt",
          "authenticated"
        ]
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "domain": { "type": ["string", "null"] },
          "defaultRole": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "MEMBER"]
          },
          "businessSizeBand": {
            "type": ["string", "null"],
            "enum": ["1-10", "11-50", "51-200", "201+"]
          },
          "timeZone": { "type": ["string", "null"] },
          "onboardingGoal": {
            "type": ["string", "null"],
            "enum": ["TIME_OFF", "EQUIPMENT", "BOTH"]
          },
          "onboardingCompletedAt": {
            "type": ["string", "null"],
            "format": "date-time"
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": [
          "id",
          "name",
          "slug",
          "domain",
          "defaultRole",
          "businessSizeBand",
          "timeZone",
          "onboardingGoal",
          "onboardingCompletedAt",
          "createdAt",
          "updatedAt"
        ]
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "role": { "type": "string", "enum": ["OWNER", "ADMIN", "MEMBER"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "user": { "$ref": "#/components/schemas/User" }
        },
        "required": ["id", "role", "createdAt", "user"]
      },
      "Invitation": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": ["string", "null"], "format": "email" },
          "role": { "type": "string", "enum": ["OWNER", "ADMIN", "MEMBER"] },
          "token": { "type": "string" },
          "expires": { "type": "string", "format": "date-time" },
          "sentViaEmail": { "type": "boolean" }
        },
        "required": ["id", "email", "role", "token", "expires", "sentViaEmail"]
      },
      "TimeOffPolicy": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "type": {
            "type": "string",
            "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
          },
          "annualAllowanceHalfDays": { "type": ["integer", "null"] }
        },
        "required": ["id", "type", "annualAllowanceHalfDays"]
      },
      "TimeOffRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "type": {
            "type": "string",
            "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "APPROVED", "DECLINED", "CANCELED"]
          },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "duration": { "type": "string", "enum": ["FULL_DAY", "HALF_DAY"] },
          "halfDayPeriod": {
            "type": ["string", "null"],
            "enum": ["MORNING", "AFTERNOON"]
          },
          "requestedHalfDays": { "type": "integer" },
          "reason": { "type": ["string", "null"] },
          "reviewNote": { "type": ["string", "null"] },
          "requester": { "$ref": "#/components/schemas/User" },
          "reviewer": {
            "allOf": [
              { "$ref": "#/components/schemas/User" },
              { "type": ["object", "null"] }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "startDate",
          "endDate",
          "duration",
          "halfDayPeriod",
          "requestedHalfDays",
          "reason",
          "reviewNote",
          "requester",
          "reviewer"
        ]
      },
      "TimeOffWorkspace": {
        "type": "object",
        "properties": {
          "year": { "type": "integer" },
          "canApprove": { "type": "boolean" },
          "currentUserId": { "type": "string", "format": "uuid" },
          "policies": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TimeOffPolicy" }
          },
          "requests": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TimeOffRequest" }
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "name": { "type": "string" },
                "email": { "type": "string", "format": "email" },
                "role": {
                  "type": "string",
                  "enum": ["OWNER", "ADMIN", "MEMBER"]
                }
              },
              "required": ["id", "name", "email", "role"]
            }
          },
          "balances": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "object",
                "properties": {
                  "allowanceHalfDays": { "type": ["integer", "null"] },
                  "approvedHalfDays": { "type": "integer" },
                  "pendingHalfDays": { "type": "integer" },
                  "remainingHalfDays": { "type": ["integer", "null"] }
                },
                "required": [
                  "allowanceHalfDays",
                  "approvedHalfDays",
                  "pendingHalfDays",
                  "remainingHalfDays"
                ]
              }
            }
          }
        },
        "required": [
          "year",
          "canApprove",
          "currentUserId",
          "policies",
          "requests",
          "members",
          "balances"
        ]
      },
      "ActionService": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "slug": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "audience": {
            "type": "string",
            "enum": ["PUBLIC", "CUSTOMER", "EMPLOYEE"]
          },
          "active": { "type": "boolean" },
          "slaHours": { "type": ["integer", "null"] },
          "requiresApproval": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": [
          "id",
          "slug",
          "name",
          "description",
          "audience",
          "active",
          "slaHours",
          "requiresApproval",
          "createdAt",
          "updatedAt"
        ]
      },
      "ServiceRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "subject": { "type": "string" },
          "description": { "type": "string" },
          "priority": {
            "type": "string",
            "enum": ["LOW", "NORMAL", "HIGH", "URGENT"]
          },
          "status": {
            "type": "string",
            "enum": [
              "OPEN",
              "IN_PROGRESS",
              "WAITING_ON_REQUESTER",
              "RESOLVED",
              "CANCELED"
            ]
          },
          "source": { "type": "string", "enum": ["WEB", "ASSISTANT", "MCP"] },
          "resolution": { "type": ["string", "null"] },
          "resolvedAt": { "type": ["string", "null"], "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" },
          "service": { "$ref": "#/components/schemas/ActionService" },
          "requester": {
            "type": "object",
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "name": { "type": "string" },
              "email": { "type": "string", "format": "email" }
            },
            "required": ["id", "name", "email"]
          },
          "assignee": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string", "format": "uuid" },
              "name": { "type": "string" },
              "email": { "type": "string", "format": "email" }
            },
            "required": ["id", "name", "email"]
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "type": {
                  "type": "string",
                  "enum": ["CREATED", "STATUS_CHANGED", "COMMENT", "ASSIGNED"]
                },
                "message": { "type": "string" },
                "createdAt": { "type": "string", "format": "date-time" },
                "actor": {
                  "type": ["object", "null"],
                  "properties": {
                    "id": { "type": "string", "format": "uuid" },
                    "name": { "type": "string" },
                    "email": { "type": "string", "format": "email" }
                  },
                  "required": ["id", "name", "email"]
                }
              },
              "required": ["id", "type", "message", "createdAt", "actor"]
            }
          }
        },
        "required": [
          "id",
          "subject",
          "description",
          "priority",
          "status",
          "source",
          "resolution",
          "resolvedAt",
          "createdAt",
          "updatedAt",
          "service",
          "requester",
          "assignee",
          "events"
        ]
      },
      "ActionDeskWorkspace": {
        "type": "object",
        "properties": {
          "canManage": { "type": "boolean" },
          "currentUserId": { "type": "string", "format": "uuid" },
          "services": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ActionService" }
          },
          "requests": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ServiceRequest" }
          }
        },
        "required": ["canManage", "currentUserId", "services", "requests"]
      },
      "Credential": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "scopes": { "type": "array", "items": { "type": "string" } },
          "expiresAt": { "type": ["string", "null"], "format": "date-time" },
          "lastUsedAt": { "type": ["string", "null"], "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" }
        },
        "required": [
          "id",
          "name",
          "scopes",
          "expiresAt",
          "lastUsedAt",
          "createdAt"
        ]
      },
      "EnterpriseWorkspace": {
        "type": "object",
        "properties": {
          "id": { "type": ["string", "null"] },
          "team": { "type": "string" },
          "teamName": { "type": "string" },
          "version": { "type": "number" },
          "status": { "type": "string" },
          "canManage": { "type": "boolean" },
          "currentUserId": { "type": "string" },
          "createdAt": { "type": ["string", "null"] },
          "updatedAt": { "type": ["string", "null"] },
          "url": { "type": "string" },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "enum": [
                    "organization",
                    "outcomes",
                    "stakeholders",
                    "research",
                    "security",
                    "privacy",
                    "access",
                    "integrations",
                    "migration",
                    "policy",
                    "pilot",
                    "enablement",
                    "approval",
                    "launch"
                  ]
                },
                "title": { "type": "string" },
                "owner": { "type": "string" },
                "description": { "type": "string" },
                "dependsOn": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "organization",
                      "outcomes",
                      "stakeholders",
                      "research",
                      "security",
                      "privacy",
                      "access",
                      "integrations",
                      "migration",
                      "policy",
                      "pilot",
                      "enablement",
                      "approval",
                      "launch"
                    ]
                  }
                },
                "adminOnly": { "type": "boolean" },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "label": { "type": "string" },
                      "hint": { "type": "string" },
                      "choices": {
                        "type": "array",
                        "items": { "type": "string" }
                      },
                      "optional": { "type": "boolean" }
                    },
                    "required": ["id", "label", "hint"]
                  }
                },
                "values": {
                  "type": "object",
                  "additionalProperties": { "type": "string" }
                },
                "origins": {
                  "type": "object",
                  "additionalProperties": { "type": "string" }
                },
                "evidenceRefs": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "runId": { "type": "string" },
                      "suggestionId": { "type": "string" },
                      "sourceUrls": {
                        "type": "array",
                        "items": { "type": "string", "format": "uri" },
                        "maxItems": 40
                      },
                      "retrievedAt": { "type": "string" }
                    },
                    "required": [
                      "runId",
                      "suggestionId",
                      "sourceUrls",
                      "retrievedAt"
                    ]
                  }
                },
                "completedAt": { "type": ["string", "null"] },
                "ownerId": { "type": ["string", "null"] },
                "state": {
                  "type": "string",
                  "enum": ["blocked", "ready", "complete"]
                },
                "missing": { "type": "array", "items": { "type": "string" } }
              },
              "required": [
                "id",
                "title",
                "owner",
                "description",
                "dependsOn",
                "adminOnly",
                "fields",
                "values",
                "origins",
                "evidenceRefs",
                "completedAt",
                "ownerId",
                "state",
                "missing"
              ]
            }
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "role": { "type": "string" }
              },
              "required": ["id", "name", "role"]
            }
          },
          "research": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "status": { "type": "string" },
              "attempts": { "type": "number" },
              "model": { "type": "string" },
              "error": { "type": ["string", "null"] },
              "createdAt": { "type": "string" },
              "evidence": {
                "type": ["object", "null"],
                "properties": {
                  "report": { "type": "string" },
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "title": { "type": "string" },
                        "url": { "type": "string", "format": "uri" }
                      },
                      "required": ["id", "title", "url"]
                    }
                  },
                  "claims": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "text": { "type": "string" },
                        "sourceIds": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      },
                      "required": ["id", "text", "sourceIds"]
                    }
                  },
                  "suggestions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "stepId": {
                          "type": "string",
                          "enum": [
                            "organization",
                            "outcomes",
                            "stakeholders",
                            "research",
                            "security",
                            "privacy",
                            "access",
                            "integrations",
                            "migration",
                            "policy",
                            "pilot",
                            "enablement",
                            "approval",
                            "launch"
                          ]
                        },
                        "fieldId": { "type": "string" },
                        "value": { "type": "string", "maxLength": 2000 },
                        "kind": {
                          "type": "string",
                          "enum": ["sourced", "recommendation"]
                        },
                        "sourceIds": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      },
                      "required": [
                        "id",
                        "stepId",
                        "fieldId",
                        "value",
                        "kind",
                        "sourceIds"
                      ]
                    }
                  },
                  "unknowns": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "model": { "type": "string" },
                  "retrievedAt": { "type": "string" },
                  "inputTokens": { "type": "number" },
                  "outputTokens": { "type": "number" }
                },
                "required": [
                  "report",
                  "sources",
                  "claims",
                  "suggestions",
                  "unknowns",
                  "model",
                  "retrievedAt",
                  "inputTokens",
                  "outputTokens"
                ]
              },
              "acceptedIds": { "type": "array", "items": { "type": "string" } },
              "stale": { "type": "boolean" }
            },
            "required": [
              "id",
              "status",
              "attempts",
              "model",
              "error",
              "createdAt",
              "evidence",
              "acceptedIds",
              "stale"
            ]
          },
          "metrics": {
            "type": "object",
            "properties": {
              "complete": { "type": "number" },
              "total": { "type": "number" },
              "manualFields": { "type": "number" },
              "assistedFields": { "type": "number" },
              "blockers": { "type": "number" }
            },
            "required": [
              "complete",
              "total",
              "manualFields",
              "assistedFields",
              "blockers"
            ]
          },
          "events": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "actor": { "type": "string" },
                "message": { "type": "string" },
                "createdAt": { "type": "string" }
              },
              "required": ["id", "actor", "message", "createdAt"]
            }
          },
          "researchAvailable": { "type": "boolean" },
          "nextAction": { "type": "string" },
          "boundary": { "type": "string" }
        },
        "required": [
          "id",
          "team",
          "teamName",
          "version",
          "status",
          "canManage",
          "currentUserId",
          "createdAt",
          "updatedAt",
          "url",
          "steps",
          "members",
          "research",
          "metrics",
          "events",
          "researchAvailable",
          "nextAction",
          "boundary"
        ]
      },
      "EnterpriseAssistantWorkspace": {
        "type": "object",
        "properties": {
          "id": { "type": ["string", "null"] },
          "team": { "type": "string" },
          "teamName": { "type": "string" },
          "version": { "type": "number" },
          "status": { "type": "string" },
          "canManage": { "type": "boolean" },
          "currentUserId": { "type": "string" },
          "url": { "type": "string" },
          "nextAction": { "type": "string" },
          "boundary": { "type": "string" },
          "researchAvailable": { "type": "boolean" },
          "metrics": {
            "type": "object",
            "properties": {
              "complete": { "type": "number" },
              "total": { "type": "number" },
              "manualFields": { "type": "number" },
              "assistedFields": { "type": "number" },
              "blockers": { "type": "number" }
            },
            "required": [
              "complete",
              "total",
              "manualFields",
              "assistedFields",
              "blockers"
            ]
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "role": { "type": "string" }
              },
              "required": ["id", "name", "role"]
            }
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "enum": [
                    "organization",
                    "outcomes",
                    "stakeholders",
                    "research",
                    "security",
                    "privacy",
                    "access",
                    "integrations",
                    "migration",
                    "policy",
                    "pilot",
                    "enablement",
                    "approval",
                    "launch"
                  ]
                },
                "title": { "type": "string" },
                "owner": { "type": "string" },
                "description": { "type": "string" },
                "dependsOn": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "enum": [
                      "organization",
                      "outcomes",
                      "stakeholders",
                      "research",
                      "security",
                      "privacy",
                      "access",
                      "integrations",
                      "migration",
                      "policy",
                      "pilot",
                      "enablement",
                      "approval",
                      "launch"
                    ]
                  }
                },
                "adminOnly": { "type": "boolean" },
                "values": {
                  "type": "object",
                  "additionalProperties": { "type": "string" }
                },
                "origins": {
                  "type": "object",
                  "additionalProperties": { "type": "string" }
                },
                "evidenceRefs": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "runId": { "type": "string" },
                      "suggestionId": { "type": "string" },
                      "sourceUrls": {
                        "type": "array",
                        "items": { "type": "string", "format": "uri" },
                        "maxItems": 40
                      },
                      "retrievedAt": { "type": "string" }
                    },
                    "required": [
                      "runId",
                      "suggestionId",
                      "sourceUrls",
                      "retrievedAt"
                    ]
                  }
                },
                "completedAt": { "type": ["string", "null"] },
                "ownerId": { "type": ["string", "null"] },
                "state": {
                  "type": "string",
                  "enum": ["blocked", "ready", "complete"]
                },
                "missing": { "type": "array", "items": { "type": "string" } },
                "fields": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "label": { "type": "string" },
                      "hint": { "type": "string" },
                      "choices": {
                        "type": "array",
                        "items": { "type": "string" }
                      }
                    },
                    "required": ["id", "label", "hint"]
                  }
                }
              },
              "required": [
                "id",
                "title",
                "owner",
                "description",
                "dependsOn",
                "adminOnly",
                "values",
                "origins",
                "evidenceRefs",
                "completedAt",
                "ownerId",
                "state",
                "missing",
                "fields"
              ]
            }
          },
          "research": {
            "type": ["object", "null"],
            "properties": {
              "id": { "type": "string" },
              "status": { "type": "string" },
              "attempts": { "type": "number" },
              "model": { "type": "string" },
              "error": { "type": ["string", "null"] },
              "stale": { "type": "boolean" },
              "acceptedIds": { "type": "array", "items": { "type": "string" } },
              "evidence": {
                "type": ["object", "null"],
                "properties": {
                  "sources": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "title": { "type": "string" },
                        "url": { "type": "string", "format": "uri" }
                      },
                      "required": ["id", "title", "url"]
                    }
                  },
                  "claims": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "text": { "type": "string" },
                        "sourceIds": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      },
                      "required": ["id", "text", "sourceIds"]
                    }
                  },
                  "suggestions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "stepId": {
                          "type": "string",
                          "enum": [
                            "organization",
                            "outcomes",
                            "stakeholders",
                            "research",
                            "security",
                            "privacy",
                            "access",
                            "integrations",
                            "migration",
                            "policy",
                            "pilot",
                            "enablement",
                            "approval",
                            "launch"
                          ]
                        },
                        "fieldId": { "type": "string" },
                        "value": { "type": "string", "maxLength": 2000 },
                        "kind": {
                          "type": "string",
                          "enum": ["sourced", "recommendation"]
                        },
                        "sourceIds": {
                          "type": "array",
                          "items": { "type": "string" }
                        }
                      },
                      "required": [
                        "id",
                        "stepId",
                        "fieldId",
                        "value",
                        "kind",
                        "sourceIds"
                      ]
                    }
                  },
                  "unknowns": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "model": { "type": "string" },
                  "retrievedAt": { "type": "string" },
                  "inputTokens": { "type": "number" },
                  "outputTokens": { "type": "number" }
                },
                "required": [
                  "sources",
                  "claims",
                  "suggestions",
                  "unknowns",
                  "model",
                  "retrievedAt",
                  "inputTokens",
                  "outputTokens"
                ]
              }
            },
            "required": [
              "id",
              "status",
              "attempts",
              "model",
              "error",
              "stale",
              "acceptedIds",
              "evidence"
            ]
          }
        },
        "required": [
          "id",
          "team",
          "teamName",
          "version",
          "status",
          "canManage",
          "currentUserId",
          "url",
          "nextAction",
          "boundary",
          "researchAvailable",
          "metrics",
          "members",
          "steps",
          "research"
        ]
      },
      "EnterpriseCommand": {
        "type": "object",
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "create",
              "save-step",
              "complete-step",
              "reopen-step",
              "assign",
              "start-research",
              "cancel-research",
              "accept-suggestions"
            ]
          },
          "version": { "type": "integer", "minimum": 0 },
          "stepId": {
            "type": "string",
            "enum": [
              "organization",
              "outcomes",
              "stakeholders",
              "research",
              "security",
              "privacy",
              "access",
              "integrations",
              "migration",
              "policy",
              "pilot",
              "enablement",
              "approval",
              "launch"
            ]
          },
          "values": {
            "type": "object",
            "additionalProperties": { "type": "string", "maxLength": 2000 }
          },
          "ownerId": { "type": ["string", "null"], "format": "uuid" },
          "source": {
            "type": "string",
            "enum": ["manual", "assistant"],
            "default": "manual"
          },
          "suggestionIds": {
            "type": "array",
            "items": { "type": "string", "maxLength": 100 },
            "maxItems": 60
          },
          "researchConsent": { "type": "boolean", "enum": [true] },
          "researchIdentity": {
            "type": "object",
            "properties": {
              "companyName": {
                "type": "string",
                "minLength": 2,
                "maxLength": 100
              },
              "companyDomain": {
                "type": "string",
                "minLength": 4,
                "maxLength": 253
              }
            },
            "required": ["companyName", "companyDomain"],
            "additionalProperties": false
          }
        },
        "required": ["action", "version"],
        "additionalProperties": false
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/me": {
      "get": {
        "tags": ["Profile"],
        "summary": "Get the current user",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/User" }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_me"
      },
      "patch": {
        "tags": ["Profile"],
        "summary": "Update the current user",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "image": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/User" }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "patch_me"
      }
    },
    "/api/v1/onboarding/complete": {
      "post": {
        "tags": ["Onboarding"],
        "summary": "Create or configure the signed-in owner’s business workspace",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OnboardingBlueprint" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Configured workspace receipt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/OnboardingReceipt" }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_onboarding_complete",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ]
      }
    },
    "/api/v1/teams/{teamId}/new-hire-launches/plan": {
      "post": {
        "tags": ["New Hire Launch"],
        "summary": "Preview a grounded new-hire launch plan without changing data",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NewHireLaunchInput" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grounded launch plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/NewHirePlan" }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_teams_teamId_new_hire_launches_plan"
      }
    },
    "/api/v1/teams/{teamId}/new-hire-launches": {
      "get": {
        "tags": ["New Hire Launch"],
        "summary": "List recent new-hire launch receipts",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "New-hire launches",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/NewHireReceipt" }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "nextCursor": { "type": ["string", "null"] }
                      },
                      "required": ["nextCursor"]
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_new_hire_launches"
      },
      "post": {
        "tags": ["New Hire Launch"],
        "summary": "Atomically launch an invitation, role, leave inheritance, and equipment request",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/NewHireLaunchInput" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verified launch receipt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/NewHireReceipt" }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_teams_teamId_new_hire_launches"
      }
    },
    "/api/v1/teams/{teamId}/new-hire-launches/status": {
      "get": {
        "tags": ["New Hire Launch"],
        "summary": "Get a new-hire launch receipt by invited email",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "schema": { "type": "string", "format": "email" },
            "required": true,
            "name": "email",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Verified launch status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/NewHireReceipt" }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_new_hire_launches_status"
      }
    },
    "/api/v1/me/password": {
      "put": {
        "tags": ["Profile"],
        "summary": "Change password",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": { "type": "string" },
                  "newPassword": { "type": "string", "minLength": 8 }
                },
                "required": ["currentPassword", "newPassword"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "put_me_password"
      }
    },
    "/api/v1/me/sessions": {
      "get": {
        "tags": ["Profile"],
        "summary": "List active sessions",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_me_sessions"
      }
    },
    "/api/v1/me/sessions/{sessionId}": {
      "delete": {
        "tags": ["Profile"],
        "summary": "Revoke a session",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string" },
            "required": true,
            "name": "sessionId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "delete_me_sessions_sessionId"
      }
    },
    "/api/v1/teams/{teamId}/permissions": {
      "get": {
        "tags": ["Teams"],
        "summary": "Get effective permissions",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_permissions"
      }
    },
    "/api/v1/teams/{teamId}/time-off/balances": {
      "get": {
        "tags": ["Time Off"],
        "summary": "Get employee balances and optionally assess eligibility",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "schema": { "type": ["integer", "null"] },
            "required": false,
            "name": "year",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": { "type": "string", "format": "date" },
            "required": false,
            "name": "startDate",
            "in": "query"
          },
          {
            "schema": { "type": "string", "format": "date" },
            "required": false,
            "name": "endDate",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Balances and optional policy-grounded eligibility result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "allowanceHalfDays": {
                              "type": ["integer", "null"]
                            },
                            "approvedHalfDays": { "type": "integer" },
                            "pendingHalfDays": { "type": "integer" },
                            "remainingHalfDays": { "type": ["integer", "null"] }
                          },
                          "required": [
                            "allowanceHalfDays",
                            "approvedHalfDays",
                            "pendingHalfDays",
                            "remainingHalfDays"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "team": { "type": "string" },
                        "userId": { "type": "string", "format": "uuid" },
                        "assessment": {
                          "type": ["object", "null"],
                          "properties": {
                            "status": { "type": "string" },
                            "team": { "type": "string" },
                            "userId": { "type": "string", "format": "uuid" },
                            "type": {
                              "type": "string",
                              "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
                            },
                            "startDate": { "type": "string", "format": "date" },
                            "endDate": { "type": "string", "format": "date" },
                            "eligible": { "type": "boolean" },
                            "decision": {
                              "type": "string",
                              "enum": [
                                "ELIGIBLE",
                                "INVALID_DATES",
                                "OVERLAP",
                                "INSUFFICIENT_BALANCE",
                                "POLICY_UNAVAILABLE"
                              ]
                            },
                            "reason": { "type": "string" },
                            "requestedHalfDays": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "pendingHalfDays": {
                              "type": "number",
                              "minimum": 0
                            },
                            "availableBeforeHalfDays": {
                              "type": ["number", "null"]
                            },
                            "remainingAfterHalfDays": {
                              "type": ["number", "null"]
                            },
                            "conflict": {
                              "type": ["object", "null"],
                              "properties": {
                                "id": { "type": "string", "format": "uuid" },
                                "startDate": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "endDate": {
                                  "type": "string",
                                  "format": "date"
                                }
                              },
                              "required": ["id", "startDate", "endDate"]
                            },
                            "checks": {
                              "type": "object",
                              "properties": {
                                "weekday": { "type": "boolean" },
                                "noOverlap": { "type": "boolean" },
                                "withinBalance": { "type": "boolean" }
                              },
                              "required": [
                                "weekday",
                                "noOverlap",
                                "withinBalance"
                              ]
                            },
                            "policySource": { "type": "string" }
                          },
                          "required": [
                            "status",
                            "team",
                            "userId",
                            "type",
                            "startDate",
                            "endDate",
                            "eligible",
                            "decision",
                            "reason",
                            "requestedHalfDays",
                            "pendingHalfDays",
                            "availableBeforeHalfDays",
                            "remainingAfterHalfDays",
                            "conflict",
                            "checks",
                            "policySource"
                          ]
                        }
                      },
                      "required": ["team", "userId", "assessment"]
                    }
                  },
                  "required": ["data", "meta"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_time_off_balances"
      }
    },
    "/api/v1/teams/{teamId}/credentials/{credentialId}": {
      "delete": {
        "tags": ["Credentials"],
        "summary": "Revoke a service credential",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "teamId",
            "in": "path"
          },
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "delete_teams_teamId_credentials_credentialId"
      }
    },
    "/api/v1/teams/{teamId}/oauth-clients": {
      "get": {
        "tags": ["Credentials"],
        "summary": "List OAuth clients",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_oauth_clients"
      },
      "post": {
        "tags": ["Credentials"],
        "summary": "Register an OAuth client",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "redirectUris": {
                    "type": "array",
                    "items": { "type": "string", "format": "uri" }
                  },
                  "allowedOrigins": {
                    "type": "array",
                    "items": { "type": "string", "format": "uri" }
                  },
                  "scopes": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["name", "redirectUris", "allowedOrigins", "scopes"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
[...]
