{
  "openapi": "3.1.0",
  "info": {
    "title": "Tivmark API",
    "version": "1.0.0",
    "description": "The API-first contract used by Tivmark and approved headless clients.",
    "license": { "name": "Proprietary", "url": "https://tivmark.com/terms" }
  },
  "servers": [
    { "url": "https://app.tivmark.com", "description": "Production" }
  ],
  "tags": [
    { "name": "Profile", "description": "Current-user profile and sessions." },
    { "name": "Teams", "description": "Team lifecycle and settings." },
    { "name": "Members", "description": "Team membership and roles." },
    {
      "name": "Invitations",
      "description": "Team invitations and acceptance."
    },
    {
      "name": "Time Off",
      "description": "Time-off requests, balances, and policies."
    },
    {
      "name": "Credentials",
      "description": "Scoped service credentials and OAuth clients."
    },
    { "name": "SSO", "description": "Single sign-on configuration." },
    {
      "name": "Directory Sync",
      "description": "Directory synchronization configuration."
    },
    { "name": "Webhooks", "description": "Outbound webhook configuration." },
    { "name": "Billing", "description": "Plans and billing workflows." },
    {
      "name": "Audit Logs",
      "description": "Auditable activity and viewer access."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "OAuth access token or Tivmark service key"
      },
      "oauth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "/oauth/authorize",
            "tokenUrl": "/oauth/token",
            "refreshUrl": "/oauth/token",
            "scopes": {
              "profile": "Read and update the current profile",
              "teams": "Read and update teams",
              "members": "Read and manage team members",
              "invitations": "Read and manage invitations",
              "time_off": "Read and manage time-off requests",
              "time_off.approve": "Approve or decline time-off requests",
              "time_off.policy": "Manage time-off allowances",
              "credentials": "Manage service credentials and OAuth clients",
              "sso": "Manage single sign-on",
              "directory_sync": "Manage directory synchronization",
              "webhooks": "Manage outbound webhooks",
              "audit_logs": "Read audit logs",
              "billing": "Read and manage billing"
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "image": { "type": ["string", "null"] }
        },
        "required": ["id", "name", "email", "image"]
      },
      "Problem": {
        "type": "object",
        "properties": {
          "type": { "type": "string" },
          "code": { "type": "string" },
          "title": { "type": "string" },
          "status": { "type": "integer" },
          "detail": { "type": "string" },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": { "type": "string" }
            }
          }
        },
        "required": ["type", "code", "title", "status", "detail"]
      },
      "Team": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "domain": { "type": ["string", "null"] },
          "defaultRole": {
            "type": "string",
            "enum": ["OWNER", "ADMIN", "MEMBER"]
          },
          "createdAt": { "type": "string", "format": "date-time" },
          "updatedAt": { "type": "string", "format": "date-time" }
        },
        "required": [
          "id",
          "name",
          "slug",
          "domain",
          "defaultRole",
          "createdAt",
          "updatedAt"
        ]
      },
      "Member": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "role": { "type": "string", "enum": ["OWNER", "ADMIN", "MEMBER"] },
          "createdAt": { "type": "string", "format": "date-time" },
          "user": { "$ref": "#/components/schemas/User" }
        },
        "required": ["id", "role", "createdAt", "user"]
      },
      "Invitation": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "email": { "type": ["string", "null"], "format": "email" },
          "role": { "type": "string", "enum": ["OWNER", "ADMIN", "MEMBER"] },
          "token": { "type": "string" },
          "expires": { "type": "string", "format": "date-time" },
          "sentViaEmail": { "type": "boolean" }
        },
        "required": ["id", "email", "role", "token", "expires", "sentViaEmail"]
      },
      "TimeOffPolicy": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "type": {
            "type": "string",
            "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
          },
          "annualAllowanceHalfDays": { "type": ["integer", "null"] }
        },
        "required": ["id", "type", "annualAllowanceHalfDays"]
      },
      "TimeOffRequest": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "type": {
            "type": "string",
            "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "APPROVED", "DECLINED", "CANCELED"]
          },
          "startDate": { "type": "string", "format": "date" },
          "endDate": { "type": "string", "format": "date" },
          "duration": { "type": "string", "enum": ["FULL_DAY", "HALF_DAY"] },
          "halfDayPeriod": {
            "type": ["string", "null"],
            "enum": ["MORNING", "AFTERNOON"]
          },
          "requestedHalfDays": { "type": "integer" },
          "reason": { "type": ["string", "null"] },
          "reviewNote": { "type": ["string", "null"] },
          "requester": { "$ref": "#/components/schemas/User" },
          "reviewer": {
            "allOf": [
              { "$ref": "#/components/schemas/User" },
              { "type": ["object", "null"] }
            ]
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "startDate",
          "endDate",
          "duration",
          "halfDayPeriod",
          "requestedHalfDays",
          "reason",
          "reviewNote",
          "requester",
          "reviewer"
        ]
      },
      "TimeOffWorkspace": {
        "type": "object",
        "properties": {
          "year": { "type": "integer" },
          "canApprove": { "type": "boolean" },
          "currentUserId": { "type": "string", "format": "uuid" },
          "policies": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TimeOffPolicy" }
          },
          "requests": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/TimeOffRequest" }
          },
          "members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string", "format": "uuid" },
                "name": { "type": "string" },
                "email": { "type": "string", "format": "email" },
                "role": {
                  "type": "string",
                  "enum": ["OWNER", "ADMIN", "MEMBER"]
                }
              },
              "required": ["id", "name", "email", "role"]
            }
          },
          "balances": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "object",
                "properties": {
                  "allowanceHalfDays": { "type": ["integer", "null"] },
                  "approvedHalfDays": { "type": "integer" },
                  "pendingHalfDays": { "type": "integer" },
                  "remainingHalfDays": { "type": ["integer", "null"] }
                },
                "required": [
                  "allowanceHalfDays",
                  "approvedHalfDays",
                  "pendingHalfDays",
                  "remainingHalfDays"
                ]
              }
            }
          }
        },
        "required": [
          "year",
          "canApprove",
          "currentUserId",
          "policies",
          "requests",
          "members",
          "balances"
        ]
      },
      "Credential": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "scopes": { "type": "array", "items": { "type": "string" } },
          "expiresAt": { "type": ["string", "null"], "format": "date-time" },
          "lastUsedAt": { "type": ["string", "null"], "format": "date-time" },
          "createdAt": { "type": "string", "format": "date-time" }
        },
        "required": [
          "id",
          "name",
          "scopes",
          "expiresAt",
          "lastUsedAt",
          "createdAt"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/api/v1/me": {
      "get": {
        "tags": ["Profile"],
        "summary": "Get the current user",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/User" }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_me"
      },
      "patch": {
        "tags": ["Profile"],
        "summary": "Update the current user",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "email": { "type": "string", "format": "email" },
                  "image": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "$ref": "#/components/schemas/User" }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "patch_me"
      }
    },
    "/api/v1/me/password": {
      "put": {
        "tags": ["Profile"],
        "summary": "Change password",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentPassword": { "type": "string" },
                  "newPassword": { "type": "string", "minLength": 8 }
                },
                "required": ["currentPassword", "newPassword"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "put_me_password"
      }
    },
    "/api/v1/me/sessions": {
      "get": {
        "tags": ["Profile"],
        "summary": "List active sessions",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_me_sessions"
      }
    },
    "/api/v1/me/sessions/{sessionId}": {
      "delete": {
        "tags": ["Profile"],
        "summary": "Revoke a session",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string" },
            "required": true,
            "name": "sessionId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "delete_me_sessions_sessionId"
      }
    },
    "/api/v1/teams/{teamId}/permissions": {
      "get": {
        "tags": ["Teams"],
        "summary": "Get effective permissions",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_permissions"
      }
    },
    "/api/v1/teams/{teamId}/time-off/balances": {
      "get": {
        "tags": ["Time Off"],
        "summary": "Get employee balances and optionally assess eligibility",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "schema": { "type": ["integer", "null"] },
            "required": false,
            "name": "year",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": { "type": "string", "format": "date" },
            "required": false,
            "name": "startDate",
            "in": "query"
          },
          {
            "schema": { "type": "string", "format": "date" },
            "required": false,
            "name": "endDate",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Balances and optional policy-grounded eligibility result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "allowanceHalfDays": {
                              "type": ["integer", "null"]
                            },
                            "approvedHalfDays": { "type": "integer" },
                            "pendingHalfDays": { "type": "integer" },
                            "remainingHalfDays": { "type": ["integer", "null"] }
                          },
                          "required": [
                            "allowanceHalfDays",
                            "approvedHalfDays",
                            "pendingHalfDays",
                            "remainingHalfDays"
                          ]
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "team": { "type": "string" },
                        "userId": { "type": "string", "format": "uuid" },
                        "assessment": {
                          "type": ["object", "null"],
                          "properties": {
                            "status": { "type": "string" },
                            "team": { "type": "string" },
                            "userId": { "type": "string", "format": "uuid" },
                            "type": {
                              "type": "string",
                              "enum": ["VACATION", "SICK", "PERSONAL", "UNPAID"]
                            },
                            "startDate": { "type": "string", "format": "date" },
                            "endDate": { "type": "string", "format": "date" },
                            "eligible": { "type": "boolean" },
                            "decision": {
                              "type": "string",
                              "enum": [
                                "ELIGIBLE",
                                "INVALID_DATES",
                                "OVERLAP",
                                "INSUFFICIENT_BALANCE",
                                "POLICY_UNAVAILABLE"
                              ]
                            },
                            "reason": { "type": "string" },
                            "requestedHalfDays": {
                              "type": "integer",
                              "minimum": 0
                            },
                            "pendingHalfDays": {
                              "type": "number",
                              "minimum": 0
                            },
                            "availableBeforeHalfDays": {
                              "type": ["number", "null"]
                            },
                            "remainingAfterHalfDays": {
                              "type": ["number", "null"]
                            },
                            "conflict": {
                              "type": ["object", "null"],
                              "properties": {
                                "id": { "type": "string", "format": "uuid" },
                                "startDate": {
                                  "type": "string",
                                  "format": "date"
                                },
                                "endDate": {
                                  "type": "string",
                                  "format": "date"
                                }
                              },
                              "required": ["id", "startDate", "endDate"]
                            },
                            "checks": {
                              "type": "object",
                              "properties": {
                                "weekday": { "type": "boolean" },
                                "noOverlap": { "type": "boolean" },
                                "withinBalance": { "type": "boolean" }
                              },
                              "required": [
                                "weekday",
                                "noOverlap",
                                "withinBalance"
                              ]
                            },
                            "policySource": { "type": "string" }
                          },
                          "required": [
                            "status",
                            "team",
                            "userId",
                            "type",
                            "startDate",
                            "endDate",
                            "eligible",
                            "decision",
                            "reason",
                            "requestedHalfDays",
                            "pendingHalfDays",
                            "availableBeforeHalfDays",
                            "remainingAfterHalfDays",
                            "conflict",
                            "checks",
                            "policySource"
                          ]
                        }
                      },
                      "required": ["team", "userId", "assessment"]
                    }
                  },
                  "required": ["data", "meta"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_time_off_balances"
      }
    },
    "/api/v1/teams/{teamId}/credentials/{credentialId}": {
      "delete": {
        "tags": ["Credentials"],
        "summary": "Revoke a service credential",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "teamId",
            "in": "path"
          },
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "credentialId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "delete_teams_teamId_credentials_credentialId"
      }
    },
    "/api/v1/teams/{teamId}/oauth-clients": {
      "get": {
        "tags": ["Credentials"],
        "summary": "List OAuth clients",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_oauth_clients"
      },
      "post": {
        "tags": ["Credentials"],
        "summary": "Register an OAuth client",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "redirectUris": {
                    "type": "array",
                    "items": { "type": "string", "format": "uri" }
                  },
                  "allowedOrigins": {
                    "type": "array",
                    "items": { "type": "string", "format": "uri" }
                  },
                  "scopes": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["name", "redirectUris", "allowedOrigins", "scopes"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_teams_teamId_oauth_clients"
      }
    },
    "/api/v1/teams/{teamId}/oauth-clients/{clientId}": {
      "delete": {
        "tags": ["Credentials"],
        "summary": "Delete an OAuth client",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "teamId",
            "in": "path"
          },
          {
            "schema": { "type": "string" },
            "required": true,
            "name": "clientId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "delete_teams_teamId_oauth_clients_clientId"
      }
    },
    "/api/v1/teams/{teamId}/sso": {
      "get": {
        "tags": ["SSO"],
        "summary": "Manage single sign-on",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_sso"
      },
      "post": {
        "tags": ["SSO"],
        "summary": "Create SSO configuration",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "additionalProperties": {} }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_teams_teamId_sso"
      },
      "patch": {
        "tags": ["SSO"],
        "summary": "Update SSO configuration",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "additionalProperties": {} }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "patch_teams_teamId_sso"
      },
      "delete": {
        "tags": ["SSO"],
        "summary": "Delete SSO configuration",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "delete_teams_teamId_sso"
      }
    },
    "/api/v1/teams/{teamId}/dsync": {
      "get": {
        "tags": ["Directory Sync"],
        "summary": "Manage directory synchronization",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_dsync"
      },
      "post": {
        "tags": ["Directory Sync"],
        "summary": "Create directory synchronization",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "additionalProperties": {} }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_teams_teamId_dsync"
      }
    },
    "/api/v1/teams/{teamId}/webhooks": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Manage outbound webhooks",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_webhooks"
      },
      "post": {
        "tags": ["Webhooks"],
        "summary": "Create an outbound webhook",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "additionalProperties": {} }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_teams_teamId_webhooks"
      },
      "delete": {
        "tags": ["Webhooks"],
        "summary": "Delete an outbound webhook",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "delete_teams_teamId_webhooks"
      }
    },
    "/api/v1/teams/{teamId}/payments/products": {
      "get": {
        "tags": ["Billing"],
        "summary": "List billing products",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_payments_products"
      }
    },
    "/api/v1/teams/{teamId}/dsync/{directoryId}": {
      "get": {
        "tags": ["Directory Sync"],
        "summary": "Get directory synchronization",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "teamId",
            "in": "path"
          },
          {
            "schema": { "type": "string" },
            "required": true,
            "name": "directoryId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_dsync_directoryId"
      },
      "patch": {
        "tags": ["Directory Sync"],
        "summary": "Update directory synchronization",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "teamId",
            "in": "path"
          },
          {
            "schema": { "type": "string" },
            "required": true,
            "name": "directoryId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "additionalProperties": {} }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "patch_teams_teamId_dsync_directoryId"
      },
      "delete": {
        "tags": ["Directory Sync"],
        "summary": "Delete directory synchronization",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "teamId",
            "in": "path"
          },
          {
            "schema": { "type": "string" },
            "required": true,
            "name": "directoryId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "delete_teams_teamId_dsync_directoryId"
      }
    },
    "/api/v1/teams/{teamId}/webhooks/{endpointId}": {
      "get": {
        "tags": ["Webhooks"],
        "summary": "Get an outbound webhook",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "teamId",
            "in": "path"
          },
          {
            "schema": { "type": "string" },
            "required": true,
            "name": "endpointId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "get_teams_teamId_webhooks_endpointId"
      },
      "put": {
        "tags": ["Webhooks"],
        "summary": "Update an outbound webhook",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "name": "teamId",
            "in": "path"
          },
          {
            "schema": { "type": "string" },
            "required": true,
            "name": "endpointId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "additionalProperties": {} }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "put_teams_teamId_webhooks_endpointId"
      }
    },
    "/api/v1/teams/{teamId}/payments/create-checkout-session": {
      "post": {
        "tags": ["Billing"],
        "summary": "Create a checkout session",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Unique retry key. Reusing it with the same body returns the original response for 24 hours.",
            "schema": { "type": "string", "minLength": 8, "maxLength": 200 }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "object", "additionalProperties": {} }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_teams_teamId_payments_create_checkout_session"
      }
    },
    "/api/v1/teams/{teamId}/payments/create-portal-link": {
      "post": {
        "tags": ["Billing"],
        "summary": "Create a billing portal link",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_teams_teamId_payments_create_portal_link"
      }
    },
    "/api/v1/teams/{teamId}/audit-logs/viewer-token": {
      "post": {
        "tags": ["Audit Logs"],
        "summary": "Create a short-lived audit-log viewer token",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "parameters": [
          {
            "schema": { "type": "string", "format": "uuid" },
            "required": true,
            "in": "path",
            "name": "teamId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "object", "additionalProperties": {} }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "204": { "description": "Operation completed" },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "409": {
            "description": "Resource conflict",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "422": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Problem" }
              }
            }
          }
        },
        "operationId": "post_teams_teamId_audit_logs_viewer_token"
      }
    },
    "/api/v1/teams": {
      "get": {
        "tags": ["Teams"],
        "summary": "List accessible teams",
        "security": [{ "oauth2": [] }, { "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Teams",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Team" }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "nextCursor": { "type": ["string", "null"] }
                      },
                      "required": ["nextCursor"]
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": {
[...]
